<html>
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Postman Visualization</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
</head>
<h1>Chart</h1>
<body>
    <div><canvas id="lineChart" width="600" height="400"></canvas></div>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx,{
        type: "line",
            data: {
                Labels:{{labels | safe}},
                datasets: [
                {
                    label: "Data points",
                    data: {{values | safe}},
                    fill: true,
                    borderColor:"rgb(75, 192, 192)",
                    lineTension: 0.1
                }
            ]
            },
    });
    </script>
 </body>
</html>